// Variable css
$thick :4px;
$color : #02074D;
$bk : #FF1261;
$ease : cubic-bezier(.5,0,0,1);
$unit : 30px;
// end of variable css

// Menu icon style

// .container {
//   display: none;
// }
.icons {
    cursor: pointer;
    position: absolute;
    top: 5%;
    right: auto;
    text-align: left;
    transform: translate3d(0,-50%,0);
    display: flex;
    align-items: left;
    justify-content: left;
  }

  .icon {
    display: inline-block;
    position: relative;
    width: $unit;
    min-width: 20px; 
    max-width: 60px;
    max-height: 60px;
    margin: 0 calc(#{$unit} / 2);

    
    span {
      background: $color;
      position: absolute;
    }
  }

// End of menu icon style
  
// menu icon
.-menu {
    height: calc(#{$unit} * 0.75);
    
    span {
      height: $thick;
      left: 0;
      right: 0;
      
      &:nth-of-type(1) {
        top: 0;
        transform-origin: left;
        transition: transform 0.3s $ease;
      }      
      
      &:nth-of-type(2) {
        top: 50%;
        transform: translate3d(0,-50%,0);
        transform-origin: center;
        background: none;
        
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: $color;
          transform-origin: right;
          transition: transform 0.5s $ease 0.15s;
        }
      }    
      
      &:nth-of-type(3) {
        bottom: 0;
        transform-origin: left;
        transition: transform 0.5s $ease;
        transform: scale3d(.75,1,1)
      }
    }
    
    // active
    &.active {
      
      span:nth-of-type(1) {
        transform: translate3d(15%,0,0) rotate(45deg);
        transition: transform 0.4s $ease 0.2s;
      }      
  
      span:nth-of-type(2) {
        transform: translate3d(0,-50%,0) rotate(180deg);
        
        &:before {
          transform: translate3d(20%,0,0) scale3d(0,1,1);
        }
      }    
  
      span:nth-of-type(3) {
        transform: translate3d(15%,0,0) rotate(-45deg);
        transition: transform 0.4s $ease 0.25s;
      }
    }
    
  } 
// End of menu icon

// Général Bloc

.draw_pattern {
    height: 500px;
    border: 1px solid black;
}

.set_pattern {
    height: 500px;
    border: 1px solid red;
}

.general_pattern {
    margin-top: 40%;
    position: relative;
    transform: translate(0%, -70%);
}

// End of général bloc

// Animation of entry (select shape)
@-webkit-keyframes fadeIn {
    from { opacity: 0; margin-top: -10%; }
      to { opacity: 1; margin-top: 10%; }
}
@keyframes fadeIn {
    from { opacity: 0; margin-top: -10%; }
      to { opacity: 1; margin-top: 10%; }
}
// End of animation

// Select shape style 
.select_shape {
    width: 100%;
    height: 150px;
    border: 1px solid rgb(0, 0, 0);
    position: relative;
    margin-top: 10%;
    display: none;

    &.active {
        display: block;
        -webkit-animation: fadeIn 2s;
        animation: fadeIn 2s;
    }

    .shape {
      height: 150px;
      display: flex;
        .square_shape, .circle_shape, .triangle_shape, .draw_shape{
          width: 40%;
          left: 50%;
          position: relative;
          transform: translate(-50%);
            &:hover {
            width: 45%;
          }
        }
      }
}

// End of select shape style

// Setting pattern 

@-webkit-keyframes fadeInSetting {
  from { opacity: 0; margin-top: -10%; }
    to { opacity: 1; margin-top: 5%; }
}
@keyframes fadeInSetting {
  from { opacity: 0; margin-top: -10%; }
    to { opacity: 1; margin-top: 5%; }
}
.setting_pattern {
  width: 100%;
  height: auto;
  // border: 1px solid purple;
  margin-top: 25px;
  display: none;
    &.active {
      display: flex;
      -webkit-animation: fadeIn 2s;
      animation: fadeInSetting 2s;
    }

    .text-center {
      font-size: 1.2em;
      display: flex;
      justify-content: center;
      text-align: center;
      left: auto;
      right: auto;
    }
}
// End of setting pattern


// Loader 

.loader_screen {
  position: absolute;
  width: 100%;
  height: 100%;
  // background: rgb(226, 221, 221);
  display: block;
  top: 0;
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 45%;
  top: 35%;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
// End of loader









