@import 'blueprint';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 1000px;
}

.first_title {
    margin-top: 10px;
}

.first_select h2 {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.item_square {
    /* background-color: red; */
    width: 50%;
    height: 100px;
}

.button {
    width: 100%;
    height: 100%;
}

.button i {
    font-size: 50px;
}

.set_size p {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-style: bold;
    text-decoration: underline;
    margin-left: auto;
    margin-right: auto;
}

.setting {
    width: 100%;
    height: 200px;
    /* background-color: red; */
}

.pattern {
   margin-top: 25px;
}

.screen_patern {
    height: 500px;
    border: 1px solid black;
    padding: 0;
    margin: 0;
}

.setting_patern {
    height: 500px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    background-color: rgb(204, 203, 203);
}


.export {
    font-size: 18px;
    height: 35px;
    margin-top: 5px;
}


.square_size {
    display: none;
}

.show {
    display: block;
}

.triangle_size {
    display: none;
}

.circle_size {
    display: none;
}

.other_size {
   display: none;
}

#draggable { width: 150px; height: 150px; padding: 0.5em; }

.upper-canvas .drawing_pad {
    width: 500px;
    height: 500px;
}

#myCanvas {
    width: 100% !important;
    height: 100% !important;
}
/* 
.canvas-container {
    width: 500px;
    height: 500px;
} */

.small_warning {
    display: flex;
    justify-content: center;
}

.setting_intime {
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.lrg_setting .htr_setting .surface_setting .surface_type{
    font-size: 15px;
    margin-top: 15px;
}

.title_homepage {
    margin-top: 10%;
}




